body {
	background: #ccc;
	padding: 0 50px;
	text-align: center;
}

h1 {
	margin: 30px 0 40px;
	text-align: center;
}

h4 {
	font-size: 20px;
	margin: 30px 0 40px;
}

input {
	margin: 50px;
}

input[type=file] {
    display: inline-block; 
	margin: 0 30px;
	font-size: 20px;
	padding: 10px 20px;
}

label {
	font-size: 20px;
}

input:hover {
	cursor: pointer;
}